@font-face {
    font-family: Jost;
    font-style: normal;
    font-display: swap; /*When using swap as font-display, the browser will render the text with the fallback font and once it loads Jost, it'll swap over to it. Makes the site feel faster*/
    src: url(fonts/Jost.ttf);
  }
  
  @font-face {
    font-family: Jost;
    font-style: italic;
    font-display: swap; /*When using swap as font-display, the browser will render the text with the fallback font and once it loads Jost, it'll swap over to it. Makes the site feel faster*/
    src: url(fonts/Jost-Italic.ttf);
  }

  a, p, button{
    font-family: Jost, sans-serif;
  }

body{
    background-color: #710a97;
}

main{
    padding-left: 12px;
    padding-right: 12px;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 12px;
}

.setting{
    padding-bottom: 12px;
}

ul{
    list-style: none;
    background-color: #370549;
    padding: 12px;
    border-radius: 12px;
}

li{
display: flex;
align-items: center;
justify-content: space-between;
}

button{
    color: white;
    font-family: Jost, sans-serif;
    background-color: #120218;
    background-color: #12021880;
    border: #120218 2px solid;
    border: #12021880 2px solid;
    padding: 8px;
    text-decoration: none;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: initial;
    cursor: pointer;
    transition: background-color .2s;
    font-size: initial;
    touch-action: manipulation;
    border-radius: 12px;
}

button.close{
  background-color: unset;
  border: unset;
}

.saveButton{
    width: 100%;
}

.red{
    background-color: #f94c57;
    background-color: #f94c5780;
    border: #f94c57 2px solid;
    border: #f94c5780 2px solid;
    transition: background-color 0.2s;
  }
  
  .red:hover{
    background-color: #f94c57;
    background-color: #f94c57c7;
    border: #fc3c44 2px solid;
    border: #fc3c44c7 2px solid;
    transition: background-color 0.2s;
  }

  .green{
    background-color: #53d769;
    background-color: #53d76980;
    border: #53d769 2px solid;
    border: #53d76980 2px solid;
    transition: background-color 0.2s;
  }
  
  .green:hover{
    background-color: #53d769;
    background-color: #53d769c7;
    transition: background-color 0.2s;
  }

  .blue{
    background-color: #1da0f2;
    background-color: #1da0f280;
    border: #1da0f280 2px solid;
    transition: background-color 0.2s;
  }
  
  .blue:hover{
    background-color: #1da0f2;
    background-color: #1da0f2c7;
    transition: background-color 0.2s;
  }

.bottomButton{
    position: sticky;
    bottom: 0px;
    background-color:#2e073d;
    border-radius: 12px;
    padding: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(52, 52, 52);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

header{
  position: sticky;
  top: 0;
}

div.savedMessage{
  padding: 20px;
  color: white;
  font-family: Jost, sans-serif;

}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

  .failed{
    background-color: #f44336;
    display: none;
  }

  .failedToSave{
    display: block;
    float: right;
  }

  .sucessfull{
    background-color: #04AA6D;
    display: none;
  }
  
  input:checked + .slider {
    background-color: #710a97;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #710a97;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 12px;
  }
  
  .slider.round:before {
    border-radius: 12px;
  }