html {
  scroll-behavior: smooth;
  color-scheme: dark;
}




/*Import the local Jost font files instead of using Google Fonts to use them*/
@font-face {
  font-family: Jost;
  font-style: normal;
  font-display: swap;
  /*When using swap as font-display, the browser will render the text with the fallback font and once it loads Jost, it'll swap over to it. Makes the site feel faster*/
  src: url(fonts/Jost.ttf);
}

@font-face {
  font-family: Jost;
  font-style: italic;
  font-display: swap;
  /*When using swap as font-display, the browser will render the text with the fallback font and once it loads Jost, it'll swap over to it. Makes the site feel faster*/
  src: url(fonts/Jost-Italic.ttf);
}

@font-face {
  font-family: Pixel;
  font-display: swap;
  /*When using swap as font-display, the browser will render the text with the fallback font and once it loads Jost, it'll swap over to it. Makes the site feel faster*/
  src: url(fonts/Pixel.ttf);
}

h2{
  font-size: unset;
  font-family: Jost, sans-serif;
  font-weight: normal;
}

.divider {
  border: solid 1px rgba(var(--accent-color), 0.4);
  width: 100%;
}

:root {
  --accent-color: 113, 10, 151;
  /* Initial value */
  --darker-accent-color: 18, 2, 24;
  /* Initial value */
}

/*Scales down emojis*/
img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  pointer-events: none;
}

header {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #0d0d0d;
  background-color: rgba(var(--accent-color), 0.3);
  margin: 12px;
  padding: 12px;
  border-radius: 12px;
  position: sticky;
  top: 12px;
  z-index: 9;
}

menu {
  padding: unset;
  margin: unset;
}

body {
  height: -moz-fit-content;
  height: fit-content;
}


.boringBackground {
  background: #14011a;
}

main,
footer {
  margin: 18px;
}

.centerer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.centererItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.cvButton {
  color: white;
  font-family: Jost, sans-serif;
  background-color: #4b4b4b;
  background-color: #4b4b4b80;
  border: #4b4b4b 2px solid;
  border: #4b4b4b80 2px solid;
  padding: 12px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: initial;
  cursor: pointer;
  transition: background-color .2s;
  font-size: initial;
  touch-action: manipulation;
  border-radius: 12px;
}

.cvButton:hover,
.cvButton:focus {
  background-color: #4b4b4bc7;
  transition: background-color 0.2s;
}

/*Styling for general text*/
h1,
p,
a {
  color: white;
  font-family: Jost, sans-serif;
  text-align: center;
}

p{
  word-wrap: break-word;
}

#errorMessage{
  display: none;
}

p.subTitle {
  color: rgb(203, 203, 203);
}

p.subTitleExp,
h2.projectName {
  color: rgb(255, 255, 255);
}
p.dcProjectName {
  color: rgb(255, 255, 255);
}

div.education,
div.work {
  padding-top: 12px;
}

section.project {
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.10);
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 80%;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

section.project>p, section.project>h2 {
  text-align: left;
  margin: 12px;
  color: rgb(188, 188, 188);
}

section.project>div {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #191919;
  background-color: rgba(var(--accent-color), 0.10);
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  max-width: 80%;
}

section.project>div>p {
  text-align: center;
  margin: 12px;
  color: rgb(188, 188, 188);
  text-decoration: none;
  word-wrap: break-word;
}

section.project>div>p>a {
  text-align: center;
  color: rgb(188, 188, 188);
  white-space: nowrap;
  text-decoration: none;
  transition: color .2s;
}

section.project>div>p>a:hover {
  color: white;
  transition: color .2s;
}

section.project>h2.projectName {
  color: white;
}

#dcNameContainer {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
}

#dcActivityHeaderName {
  line-height: 2.5;
  margin-left: 12px;
}

section.project>p.dcProjectName {
  color: white;
}

.WIP {
  color: orange !important;
}


.completed {
  color: green !important;
}

/*Adding a wrapper for the language selector*/
div.langWrapper {
  display: flex;
  flex-direction: row-reverse;
}

.p404Wrapper,
.navWrapper {
  display: flex;
}

/*Styling the language selector button*/
.lang,
.navButton {
  color: white;
  font-family: Jost, sans-serif;
  background-color: #0e0e0e;
  background-color: rgba(var(--darker-accent-color), 0.30);
  padding: 12px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: initial;
  cursor: pointer;
  transition: background-color .2s;
  font-size: initial;
  touch-action: manipulation;
}

.navButton,
.emailOK {
  border-radius: 12px 12px 12px 12px;
  padding: 12px;
  margin-right: 12px;
}

/*More styling for the language selector button*/
.dropButton {
  border-radius: 12px 12px 12px 12px;
}

/*Styling for the language selector button that gets added when pressed using JS and removed once depressed*/
.dropButtonPressed {
  border-radius: 12px 12px 0px 0px;
}

/*Styling for the language selector button on hover and focus */
.lang:hover,
.lang:focus,
.navButton:hover,
.navButton:focus {
  background-color: #000000;
  background-color: #00000080;
  background-color: rgba(var(--darker-accent-color), 0.75);
  transition: background-color .2s;
}

.activeChoice,
.dropButtonPressed {
  background-color: #000000;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdownContent {
  display: none;
  position: absolute;
  background-color: rgb(0, 0, 0);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
  border-radius: 12px 0px 12px 12px;
}

/* Links inside the dropdown */
.dropdownContent a {
  background-color: rgba(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.476);
  transition: background-color .2s;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  display: block;
  color: white;
  font-family: Jost, sans-serif;
  padding: 12px;
  text-decoration: none;
  border-radius: 12px;
  border: none;
  font-size: initial;
  cursor: pointer;
  transition: background-color .2s;
}

/* Change color of dropdown links on hover */
.dropdownContent a:hover {
  background-color: rgba(67, 67, 67);
  background-color: rgba(67, 67, 67, 0.476);
  transition: background-color .2s;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  width: 166px;
}

/*Make the title bold*/
h1{
  font-weight: 600;
}

h3{
  font-weight: 500;
}

/*Make the text that says "Please check back later" slightly darker*/
p.checkBack {
  color: rgb(222, 222, 222);
}

/*Make the text that has general information about the site slightly darker and slightly transparent*/
p.bottomText {
  color: rgba(146, 146, 146);
  color: rgba(146, 146, 146, 0.61);
}

.boxAlignment {
  min-height: 80vh;
}

/*Makes the text centered*/
.containerCenterer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Makes the text centered and adds padding*/
.constructionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  flex-direction: column;
  width: 100%;
}

.mobileMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  max-height: 0;
  overflow-y: hidden;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: cubic-bezier(1, 1, 1, 1);

}

.showMenu {
  margin: 12px;
  margin-top: 18px;
  max-height: 200px; /* approximate max height */
}


menu.mobileMenu>li>a {
  text-align: center;
  margin-right: 9px;
  margin-left: 8px;
  margin-top: 8px;
}

.socialMedias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.socialMedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
}

.twitter {
  background-color: #1da0f2;
  background-color: #1da0f280;
  border: #1da0f280 2px solid;
  transition: background-color 0.2s;
}

.twitter:hover {
  background-color: #1da0f2;
  background-color: #1da0f2c7;
  transition: background-color 0.2s;
}

.threads {
  background-color: #4b4b4b;
  background-color: #4b4b4b80;
  border: #4b4b4b 2px solid;
  border: #4b4b4b80 2px solid;
  transition: background-color 0.2s;
}

.threads:hover {
  background-color: #4b4b4bc7;
  transition: background-color 0.2s;
}

.linkedin {
  background-color: #0a66c2;
  background-color: #0a66c280;
  border: #0a66c2 2px solid;
  border: #0a66c280 2px solid;
  transition: background-color 0.2s;
}

.linkedin:hover {
  background-color: #0a66c2;
  background-color: #0a66c2c7;
  transition: background-color 0.2s;
}

.instagram {
  background-color: #FB7833;
  background-color: #FB783380;
  border: #FB7833 2px solid;
  border: #FB783380 2px solid;
  transition: background-color 0.2s;
}

.instagram:hover {
  background-color: #FB7833;
  background-color: #FB7833c7;
  transition: background-color 0.2s;
}

.aMusic {
  background-color: #f94c57;
  background-color: #f94c5780;
  border: #f94c57 2px solid;
  border: #f94c5780 2px solid;
  transition: background-color 0.2s;
}

.aMusic:hover {
  background-color: #f94c57;
  background-color: #f94c57c7;
  border: #fc3c44 2px solid;
  border: #fc3c44c7 2px solid;
  transition: background-color 0.2s;
}

.email {
  background-color: #c71610;
  background-color: #c7161080;
  border: #c71610 2px solid;
  border: #c7161080 2px solid;
  transition: background-color 0.2s;
  color: white;
  font-family: Jost, sans-serif;
  padding: 12px;
  font-size: initial;
  cursor: pointer;
}

.email:hover {
  background-color: #c71610c7;
  background-color: #c71610c7;
  transition: background-color 0.2s;
}

.imessage {
  background-color: #53d769;
  background-color: #53d76980;
  border: #53d769 2px solid;
  border: #53d76980 2px solid;
  transition: background-color 0.2s;
}

.imessage:hover {
  background-color: #53d769;
  background-color: #53d769c7;
  transition: background-color 0.2s;
}


.socialMedia {
  text-align: center;
  text-decoration: none;
}

section.socialMedias {
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.10);
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  flex-direction: row;
}

.leftAlign {
  text-align: left;
  margin: 12px;
}

.emailModal {
  display: none;
  /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.65);
  /* Black w/ opacity */
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

p.titleEmail {
  font-size: 1.4em;
  border-radius: 12px;
  font-weight: 500;
}

.showEmail {
  display: flex;
}

.emailModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  background-color: rgba(18, 18, 18);
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  padding: 24px
}

.emailModalText {
  padding: 12px;
  background-color: #121212;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
  margin: 12px;
}

.emailOK {
  color: white;
  font-family: Jost, sans-serif;
  background-color: #4b4b4b;
  background-color: #4b4b4b80;
  border: #4b4b4b 2px solid;
  border: #4b4b4b80 2px solid;
  transition: background-color 0.2s;
  padding: 12px;
  font-size: initial;
  cursor: pointer;
}

.buttonsEmail {
  background-color: #191919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 12px;
}

.emailOK:hover {
  background-color: #4b4b4bc7;
  transition: background-color 0.2s;
}

p.emailText {
  margin: 12px;
}

div.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer>p {
  color: #959595
}

.aboutMe {
  background-color: #120218;
  background-color: #12021880;
  background-color: rgba(var(--darker-accent-color), 0.50);
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-left: 10%;
  margin-right: 10%;
}

.aboutMeContainer {
  background-color: #120218;
  background-color: rgba(18, 2, 24, 0.7);
  background-color: rgba(var(--darker-accent-color), 0.7);
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
}

.aboutMeContainer>div {
  background-color: #120218;
  background-color: rgba(18, 2, 24, 0.7);
  background-color: rgba(var(--darker-accent-color), 0.7);
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutMeContainer>div>p {
  padding: 12px;
  margin: 12px;
  text-align: center;
  background-color: #12021880;
  background-color: rgba(var(--darker-accent-color), 0.50);
  border-radius: 12px;
}

span.title {
  display: block;
}

span.title>p {
  text-align: center;
  margin: auto;
}

.informationContainer {
  border-radius: 12px;
  margin: 12px;
  padding-top: 12px;
  background-color: #1da0f2;
  background-color: #1da0f280;
}

.interestsContainer {
  border-radius: 12px;
  margin: 12px;
  padding-top: 12px;
  background-color: #53d769;
  background-color: #53d76980;
}

.langProf{
  font-weight: 500;
}

#landyardDiscord{
  display: flex;
  font-family: Jost, sans-serif;
  color: white;
}

#loadedLandyard{
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 12px;
}

#loadedLandyard>p, #discordStatus, #activities{
  display: inline;
  text-align: center;
  color: rgb(188, 188, 188);
}

#statusWrapper{
  list-style-type: none;
  color: white;
  font-family: Jost, sans-serif;
  padding: 8px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: initial;
  transition: background-color .2s;
  font-size: initial;
  touch-action: manipulation;
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
  text-align: right;
  margin-right: 12px;
  display: block;
}


a,
p,
button {
  font-family: Jost, sans-serif;
}

body {
  background-color: #161616;
}

main.settings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.setting {
  padding-bottom: 12px;
}

.settingGroup>p {
  text-align: left;
}

form {
  min-width: 60%;
}

ul {
  list-style: none;
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.1);
  padding: 12px;
  border-radius: 12px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



li>div {
  display: flex;
  align-items: center;
  justify-content: right;
  flex-wrap: wrap;
  flex-direction: row;
}

li>div>button,
li>div>input,
li>div>label {
  margin-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
}

input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.button,
button {
  list-style-type: none;
  color: white;
  font-family: Jost, sans-serif;
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.10);
  border: none;
  padding: 8px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: initial;
  cursor: pointer;
  transition: background-color .2s;
  font-size: initial;
  touch-action: manipulation;
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
}

button.close {
  background-color: unset;
  border: unset;
}

.saveButton {
  font-weight: normal;
  width: 100%;
}

.button:hover {
  background-color: rgba(var(--accent-color), 0.3);
}

.saveButton:hover {
  background-color: rgba(var(--accent-color), 0.3);
}


input[type="radio"]:checked+label {
  background-color: #080808;
  border: #080808 2px solid;
}

.red {
  background-color: #f94c57;
  background-color: #f94c5780;
  border: #f94c57 2px solid;
  border: #f94c5780 2px solid;
  transition: background-color 0.2s;
}

.red:hover {
  background-color: #f94c57;
  background-color: #f94c57c7;
  transition: background-color 0.2s;
}

.green {
  background-color: #53d769;
  background-color: #53d76980;
  border: #53d769 2px solid;
  border: #53d76980 2px solid;
  transition: background-color 0.2s;
}

.green:hover {
  background-color: #53d769;
  background-color: #53d769c7;
  transition: background-color 0.2s;
}

.blue {
  background-color: #1da0f2;
  background-color: #1da0f280;
  border: #1da0f2 2px solid;
  border: #1da0f280 2px solid;
  transition: background-color 0.2s;
}

.blue:hover {
  background-color: #1da0f2;
  background-color: #1da0f2c7;
  transition: background-color 0.2s;
}

.orange {
  background-color: #f2841d;
  background-color: #f2841d80;
  border: #f2841d 2px solid;
  border: #f2841d80 2px solid;
  transition: background-color 0.2s;
}

.orange:hover {
  background-color: #f2841d;
  background-color: #f2841dc7;
  transition: background-color 0.2s;
}

.purple {
  background-color: #710a97;
  background-color: #710a9780;
  border: #710a97 2px solid;
  border: #710a9780 2px solid;
  transition: background-color 0.2s;
}

.purple:hover {
  background-color: #710a97;
  background-color: #710a97c7;
  transition: background-color 0.2s;
}

.light {
  background-color: #909090;
  background-color: #90909080;
  border: #90909080 2px solid;
  transition: background-color 0.2s;
}

.light:hover {
  background-color: #909090;
  background-color: #909090c7;
  transition: background-color 0.2s;
}

.dark {
  background-color: #3f3f3f;
  background-color: #3f3f3f80;
  border: #3f3f3f80 2px solid;
  transition: background-color 0.2s;
}

.dark:hover {
  background-color: #3f3f3f;
  background-color: #3f3f3fc7;
  transition: background-color 0.2s;
}

.auto {
  background-color: #145a80;
  background-color: #145a8080;
  border: #145a8080 2px solid;
  transition: background-color 0.2s;
}

.auto:hover {
  background-color: #145a80;
  background-color: #145a80c7;
  transition: background-color 0.2s;
}

.saveSettings {
  position: sticky;
  bottom: 12px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.2);
  border-radius: 12px;
  padding: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(52, 52, 52);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

div.messages {
  text-align: center;

}

div.savedMessage {
  padding: 8px;
  color: white;
  font-family: Jost, sans-serif;
  border-radius: 12px;

}

.closebtn {
  color: white;
  float: right;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Jost, sans-serif;
}

.closebtn:hover {
  color: black;
}

.failed {
  background-color: #f44336;
  display: none;
}

.sucessfull {
  background-color: #04AA6D;
  display: none;
}

.result {
  display: block;
  margin-bottom: 12px;
}

input:checked+.slider {
  background-color: rgba(var(--accent-color));
}

input:focus+.slider {
  box-shadow: 0 0 1px rgba(var(--accent-color));
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 12px;
}

.slider.round:before {
  border-radius: 12px;
}

li>p {
  text-align: left;
  padding-right: 24px;
}


.gradientBackgroundAnimation {
  background: rgba(var(--accent-color));
}

.gradientBackgroundAnimation {
  background: linear-gradient(300deg, #000000, rgba(var(--accent-color)), #000000);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.noAnimation,
.noAnimation:before,
.noAnimation:after {
  transition: none !important;
  animation: none !important;
}


option {
  width: 150px;
  /* or max-width: 150px; */
}

option {
  white-space: nowrap;
}

/* If targeting with a class */
.right-link {
  position: absolute;
  right: 0;

}

/* Optional but recommended: Clear floats in the header */
header::after {
  content: "";
  display: table;
  clear: both;
}

.offline, .dnd {
  background-color: #f94c5780;
  border: #f94c57 2px solid;
  border: #f94c5780 2px solid;
  box-shadow: rgba(249, 76, 87, 0.50) 0px 0px 20px;
  transition: background-color 0.2s;
}

.dcloading {
  background-color: #909090;
  background-color: #90909080;
  border: #90909080 2px solid;
  box-shadow: rgba(140, 140, 140, 0.50) 0px 0px 20px;
  transition: background-color 0.2s;
}

.online {
  background-color: #53d769;
  background-color: #53d76980;
  border: #53d769 2px solid;
  border: #53d76980 2px solid;
  box-shadow: rgba(83, 215, 105, 0.50) 0px 0px 20px;
  transition: background-color 0.2s;
}

.idle {
  background-color: #f2841d;
  background-color: #f2841d80;
  border: #f2841d 2px solid;
  border: #f2841d80 2px solid;
  transition: background-color 0.2s;
}

div#discord{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#discordName, #discordActivity{
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
  margin: 12px;
}

.discordPFP {border-radius: 10px;}

#discordInfo {
  display: flex;
  flex-direction: column-reverse;
}

#discordActivity { 
  word-wrap: break-word;
}

#activityLogoLarge {
  border-radius: 5px;
}

#activityLogoSmall {
  border-radius: 25%;
  width: 32px;
  height: 32px;
  position: absolute;
  transform: translate(-200%, 250%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#discordName>p{
  text-align: left;
}

.discordName{
  display: flex;
}


div#loading>div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(var(--accent-color)) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.mcBackground{
  background: #0C0C0C url(../images/background/dark.png) repeat;
}

.mcFont{
  font-family: Pixel, Jost, sans-serif;
}

#wrapperMc{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mcJoinButtons{
  width: 85vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}


button.mcMenu{
  text-transform: uppercase;
  flex: 1; /* Buttons will share the available space equally */
  margin: 0; /* Remove default margin for better spacing */
  padding: 10px; /* Add some padding for visual separation (optional) */
  border-radius: 0;
  font-size: larger;
}
.hide{
  display: none;
}
.mcShow{
  display: block;
}

#downloads{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#downloads>a{
  margin: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}

section.titleUnderText{
  max-width: 80vw;
}

div.centererWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mcMapButton {
  position: absolute;
}

.imgWorld {
  position: absolute;
  aspect-ratio: 16 / 9; /* typical video aspect ratio */
  width: 65vw;
  background-image: url('/images/world.png');
  background-size: contain;
}

#serverJoin{
  background-color: #0909095c;
  padding: 24px;
  border-radius: 12px;

}

#bedrockJoinWrapper>p{
text-align: left;
font-size: large;
color: black;
}

.mcbuttonjoin{
  width: 400px;
  height: 40px;
  margin: auto;
  background: url(/src/images/background/mc-button.png) no-repeat;
  color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: larger;
  font-weight: normal;
  text-shadow: 2px 2px 0px #1a1a1a;
  margin-bottom: 8px;
}

#innerContentBedrock{
  background-color: rgb(22, 22, 22);
  padding: 8px;
}

.img-holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  aspect-ratio: 16 / 9;
  width: 65vw;
}

.img-holder>p{
  margin: 12px;
}
.img-holder>a{
  padding: 6px;
  background-color: rgba(var(--darker-accent-color), 0.30);
}

#activityName, #activityState, #activityDetails, #activityTime{
  text-align: left;
}

label, li>p {
  color: rgb(203, 203, 203);
}

img {
  pointer-events: none;
}

textarea{
  appearance: none;
  resize: none;
  overflow: scroll;
  width: 80%;
  height: 10vh;
  max-width: 420px;
  overflow-x: hidden;
  list-style-type: none;
  color: white;
  font-family: Jost, sans-serif;
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.10);
  border: none;
  padding: 8px;
  text-decoration: none;
  font-size: initial;
  transition: background-color .2s;
  font-size: initial;
  touch-action: manipulation;
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
}

.text{
  appearance: none;
  resize: none;
  overflow: scroll;
  width: 40%;
  max-width: 420px;
  overflow-x: hidden;
  list-style-type: none;
  color: white;
  font-family: Jost, sans-serif;
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.10);
  border: none;
  padding: 8px;
  text-decoration: none;
  font-size: initial;
  transition: background-color .2s;
  font-size: initial;
  touch-action: manipulation;
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
}

h1{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailModalContent {
  /* Existing styles */
  animation: fling 0.3s;
}

.cvstuff{
  background-color: unset;
}

#serverJoin>p{
  text-align: left;
  font-size: larger;
  margin: 0px;
  margin-left: 32px;
}

#serverJoinBedrock{

}

#serverJoinBedrock>div.title{
  background-color: rgb(228, 228, 228);
  padding-left: 6px;
}
  

#serverJoinBedrock>div.title>p{
color: #000;
text-align: left;
font-size: larger;
margin: 0px;
}


#serverJoinBedrock>div>p{
  text-align: left;
  font-size: large;
  margin: 0px;
}

.cvshit{
  width: 80%;
}
.serverInput{
  position: relative;
  width: 368px;
  height: 40px;
  padding: 0 14px;
  margin: auto;
  margin-bottom: 10px;
  border: 2px solid #a0a0a0;
  background: #000;
  font-size: larger;
  color: #fff;
  line-height: 42px;
  cursor: pointer;
}

.serverInputBedrock{
  background-color: #333333;
  padding: 6px;
  font-size: large;
}

#bedrockButtons{
  display: flex;
  flex-direction: row;
justify-content: space-between;
align-items: center;
}

.mcbuttonjoinBedrock{
color: black;
border-top: 2px black solid;
border-left: 2px black solid;
border-bottom: 3px black solid;
border-right: 3px black solid;
margin: 12px;
width: 50%;
text-align: center;
font-size: large;
}

#howToJoin{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backgroundJoin{
  background-color: #0909095c;
  padding: 24px;
  border-radius: 12px;
}

@keyframes fling {
  0% {
    transform: scale(.7);
}
45% {
  transform: scale(1.05);
}
80% {
  transform: scale(.95);
}
100% {
  transform: scale(1);
}
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*Keyframes for the animation*/
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (min-width: 739px) {

  menu.navWrapperMobile {
    display: none;
  }

  menu.mobileMenu {
    display: none;
  }

  div.navWrapper {
    display: flex;
  }
}

@media only screen and (max-width: 740px) {
  menu.navWrapper {
    display: none;
  }

  div#discord {
    flex-direction: column;
  }

  div#discordActivity {
    flex-direction: column;
  }
  
  div#discordActivityImages {
    display: none;
    padding-right: 0 !important;
  }

  #activityName, #activityState, #activityDetails, #activityTime{
    text-align: center;
  }

  menu.navWrapperMobile {
    display: flex;
  }

  ul.cvstuff>li{
    flex-direction: column;
  }
  ul.cvstuff>li>p{
    padding-right: 0px;
  }
  ul.cvstuff>li>select, ul.cvstuff>li>input, ul.cvstuff>li>textarea{
    width: 100% !important;
    text-align: center !important;
  }
}