/*General styles*/
html,
* {
  scroll-behavior: smooth;
  color-scheme: var(--html-color-scheme);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f1f1f1;
    --text: rgb(0, 0, 0);
    --subtitle: rgb(3, 3, 3);
    --project: rgb(88, 88, 88);
    --bgMc: #e1e1e1 url(../images/background/light.png) repeat;
    --color-scheme: light;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --text: rgb(255, 255, 255);
    --subtitle: rgb(203, 203, 203);
    --project: rgb(188, 188, 188);
    --bgMc: #0C0C0C url(../images/background/dark.png) repeat;
    --color-scheme: dark;
  }
}

:root {
  --bg-light: #f1f1f1;
  --text-light: #000;
  --bg-dark: #121212;
  --text-dark: rgb(255, 255, 255);
  --subtitle-light: rgb(3, 3, 3);
  --subtitle-dark: rgb(203, 203, 203);
  --project-light: rgb(88, 88, 88);
  --project-dark: rgb(188, 188, 188);
  --bgMc-dark: #0C0C0C url(../images/background/dark.png) repeat;
  --bgMc-light: #e1e1e1 url(../images/background/light.png) repeat;
  --color-scheme-light: light;
  --color-scheme-dark: dark;
}

:root {
  --background-color: var(--background);
  --header-color: var(--header);
  --text-color: var(--text);
  --subtitle-color: var(--subtitle);
  --project-color: var(--project);
  --mcBackground: var(--bgMc);
  --html-color-scheme: var(--color-scheme);
}

@font-face {
  font-family: Jost;
  font-style: normal;
  font-display: swap;
  src: url(fonts/Jost.ttf);
}

@font-face {
  font-family: Jost;
  font-style: italic;
  font-display: swap;
  src: url(fonts/Jost-Italic.ttf);
}

@font-face {
  font-family: Pixel;
  font-display: swap;
  src: url(fonts/Pixel.ttf);
}

:root {
  --accent-color: 13, 13, 13;
  --darker-accent-color: 14, 14, 14;
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
  pointer-events: none;
}

/*End of general styles*/

/*Header and menu styles*/
header {
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  background-color: #0d0d0d;
  background-color: rgba(var(--accent-color), 0.3);
  margin: 12px;
  padding: 12px;
  border-radius: 12px;
  position: sticky;
  top: 12px;
  z-index: 9;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

.right-link {
  position: absolute;
  right: 0;
}

menu {
  padding: 0px;
  margin: 0px;
}

/*End of header and menu styles*/


body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: -moz-fit-content;
  height: fit-content;
  overflow-y: scroll;
}


main,
footer {
  margin: 18px;
}

.centerer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.centererItems {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

.containerCenterer {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.centererWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
p,
a {
  color: (var(--text-color));
  font-family: Jost, sans-serif;
  text-align: center;
}

h1 {
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 1em;
  font-family: Jost, sans-serif;
  font-weight: normal;
}

h3 {
  font-weight: 450;
}

p.subTitle {
  color: var(--subtitle-color);
}

p.subTitleExp,
h2.projectName {
  color: var(--text-color)
}

p {
  word-wrap: break-word;
}

ul {
  list-style: none;
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.1);
  padding: 12px;
  border-radius: 12px;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.education,
div.work {
  padding-top: 12px;
}

section.project {
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.10);
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 80%;
}

section.project>p,
section.project>h2 {
  text-align: left;
  margin: 12px;
  color: var(--project-color);
}

section.project>div {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #191919;
  background-color: rgba(var(--accent-color), 0.10);
  padding: 8px;
  margin: 8px;
  border-radius: 12px;
  max-width: 80%;
}

section.project>div>p {
  text-align: center;
  margin: 12px;
  color: var(--project-color);
  text-decoration: none;
  word-wrap: break-word;
}

section.project>div>p>a {
  text-align: center;
  color: var(--project-color);
  white-space: nowrap;
  text-decoration: none;
  transition: color .2s;
}

section.project>div>p>a:hover {
  color: var(--text-color);
  transition: color .2s;
}

section.project>h2.projectName {
  color: var(--text-color)
}

.WIP {
  color: orange !important;
}

.completed {
  color: green !important;
}

.p404Wrapper,
.navWrapper {
  display: flex;
}

.navButton {
  color: white;
  font-family: Jost, sans-serif;
  background-color: #0e0e0e;
  background-color: rgba(var(--darker-accent-color), 0.30);
  padding: 12px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: initial;
  cursor: pointer;
  transition: background-color .2s;
  font-size: initial;
  touch-action: manipulation;
}

.navButton,
.emailOK {
  border-radius: 12px 12px 12px 12px;
  padding: 12px;
  margin-right: 12px;
}

/*Styling for the language selector button on hover and focus */
.navButton:hover,
.navButton:focus {
  background-color: #000000;
  background-color: #00000080;
  background-color: rgba(var(--darker-accent-color), 0.55);
  transition: background-color .2s;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  width: 166px;
}


/*Make the text that has general information about the site slightly darker and slightly transparent*/
p.bottomText {
  color: rgba(146, 146, 146);
  color: rgba(146, 146, 146, 0.61);
}

.boxAlignment {
  min-height: 80vh;
}

/*Makes the text centered and adds padding*/
.constructionBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  flex-direction: column;
  width: 100%;
}

.mobileMenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  max-height: 0;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .3s;
  transition-timing-function: cubic-bezier(1, 1, 1, 1);

}

.showMenu {
  margin: 12px;
  margin-top: 18px;
  max-height: 300px;
  /* approximate max height */
}


menu.mobileMenu>li>a {
  text-align: center;
  margin-right: 9px;
  margin-left: 8px;
  margin-top: 8px;
}

.socialMedias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.socialMedia {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
}

.twitter {
  background-color: #1da0f2;
  background-color: #1da0f280;
  border: #1da0f280 2px solid;
  transition: background-color 0.2s;
}

.twitter:hover {
  background-color: #1da0f2;
  background-color: #1da0f2c7;
  transition: background-color 0.2s;
}

.threads {
  background-color: #4b4b4b;
  background-color: #4b4b4b80;
  border: #4b4b4b 2px solid;
  border: #4b4b4b80 2px solid;
  transition: background-color 0.2s;
}

.threads:hover {
  background-color: #4b4b4bc7;
  transition: background-color 0.2s;
}

.linkedin {
  background-color: #0a66c2;
  background-color: #0a66c280;
  border: #0a66c2 2px solid;
  border: #0a66c280 2px solid;
  transition: background-color 0.2s;
}

.linkedin:hover {
  background-color: #0a66c2;
  background-color: #0a66c2c7;
  transition: background-color 0.2s;
}

.instagram {
  background-color: #FB7833;
  background-color: #FB783380;
  border: #FB7833 2px solid;
  border: #FB783380 2px solid;
  transition: background-color 0.2s;
}

.instagram:hover {
  background-color: #FB7833;
  background-color: #FB7833c7;
  transition: background-color 0.2s;
}

.aMusic {
  background-color: #f94c57;
  background-color: #f94c5780;
  border: #f94c57 2px solid;
  border: #f94c5780 2px solid;
  transition: background-color 0.2s;
}

.aMusic:hover {
  background-color: #f94c57;
  background-color: #f94c57c7;
  border: #fc3c44 2px solid;
  border: #fc3c44c7 2px solid;
  transition: background-color 0.2s;
}

.email {
  background-color: #c71610;
  background-color: #c7161080;
  border: #c71610 2px solid;
  border: #c7161080 2px solid;
  transition: background-color 0.2s;
  color: white;
  font-family: Jost, sans-serif;
  padding: 12px;
  font-size: initial;
  cursor: pointer;
}

.email:hover {
  background-color: #c71610c7;
  background-color: #c71610c7;
  transition: background-color 0.2s;
}

.imessage {
  background-color: #53d769;
  background-color: #53d76980;
  border: #53d769 2px solid;
  border: #53d76980 2px solid;
  transition: background-color 0.2s;
}

.imessage:hover {
  background-color: #53d769;
  background-color: #53d769c7;
  transition: background-color 0.2s;
}


.socialMedia {
  text-align: center;
  text-decoration: none;
}

section.socialMedias {
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.10);
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  flex-direction: row;
}

.leftAlign {
  text-align: left;
  margin: 12px;
}

.emailModal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

p.titleEmail {
  font-size: 1.4em;
  border-radius: 12px;
  font-weight: 500;
}

.showEmail {
  display: flex;
}

.emailModalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #121212;
  background-color: var(--background-color);
  padding: 12px;
  margin: 12px;
  border-radius: 12px;
  padding: 24px
}

.emailModalText {
  padding: 12px;
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.2);
  border-radius: 12px;
  margin: 12px;
}

.emailOK {
  color: white;
  font-family: Jost, sans-serif;
  background-color: #4b4b4b;
  background-color: #4b4b4b80;
  border: #4b4b4b 2px solid;
  border: #4b4b4b80 2px solid;
  transition: background-color 0.2s;
  padding: 12px;
  font-size: initial;
  cursor: pointer;
}

.buttonsEmail {
  background-color: #191919;
  background-color: rgba(var(--accent-color), 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 12px;
}

.emailOK:hover {
  background-color: #4b4b4bc7;
  transition: background-color 0.2s;
}

p.emailText {
  margin: 12px;
}

div.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer>p {
  color: #959595
}

span.title {
  display: block;
}

span.title>p {
  text-align: center;
  margin: auto;
}

.langProf {
  font-weight: 500;
}

a,
p,
button {
  font-family: Jost, sans-serif;
}

.button,
button {
  list-style-type: none;
  color: var(--subtitle-color);
  font-family: Jost, sans-serif;
  background-color: #121212;
  background-color: rgba(var(--accent-color), 0.10);
  border: 2px solid rgba(var(--accent-color), 0.10);
  padding: 8px;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: initial;
  cursor: pointer;
  transition: background-color .2s;
  font-size: initial;
  touch-action: manipulation;
  border-radius: 12px;
  -webkit-appearance: none;
  appearance: none;
}

button.close {
  background-color: unset;
  border: unset;
}


.button:hover {
  background-color: rgba(var(--accent-color), 0.3);
}


.hide {
  display: none;
}

section.titleUnderText {
  max-width: 80vw;
}

.emailModalContent {
  /* Existing styles */
  animation: fling 0.3s;
}


div.projectStuff>iframe {
  min-width: 120px;
}

.activeChoice {
  background-color: #000000;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 20px;
}

.activeChoice:hover {
  background-color: #0e0e0e;
  box-shadow: rgba(0, 0, 0, 0.50) 0px 0px 20px;
}

.hide {
  display: none;
}

.inline {
  display: inline !important;
}

#emojiNotFound {
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#emojiNotFound>img{
  height: 96px;
  width: 96px;
}


.uppercaseText {
  text-transform: uppercase;
}


@keyframes fling {
  0% {
    transform: scale(.7);
  }

  45% {
    transform: scale(1.05);
  }

  80% {
    transform: scale(.95);
  }

  100% {
    transform: scale(1);
  }
}


@media only screen and (min-width: 759px) {

  menu.navWrapperMobile {
    display: none;
  }

  menu.mobileMenu {
    display: none;
  }

  menu.navWrapper {
    display: flex;
  }
}

@media only screen and (max-width: 760px) {
  menu.navWrapper {
    display: none;
  }

  div#discord {
    flex-direction: column;
  }

  div#discordActivity {
    flex-direction: column;
  }

  div#discordActivityImages {
    display: none;
    padding-right: 0 !important;
  }

  #activityName,
  #activityState,
  #activityDetails,
  #activityTime,
  #timeremaning {
    text-align: left;
  }

  menu.navWrapperMobile {
    display: flex;
  }

  ul.cvstuff>li {
    flex-direction: column;
  }

  ul.cvstuff>li>p {
    padding-right: 0px;
  }

  ul.cvstuff>li>select,
  ul.cvstuff>li>input,
  ul.cvstuff>li>textarea {
    width: 100% !important;
    text-align: center !important;
  }
}